/* HEADER */
.header__nav {
    position: sticky;
    top: 12px;
    border-radius: 12px;
    background: #000;
    margin-top: 12px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
}

.header__name {
    color: #ffffff;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__email {
    color: #686870;
    font-family: "Inter";
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

/* ADD USER */

.add {
    display: none;
}
.add__active {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    overflow: hidden;
}
.add__block {
    width: 450px;
    background: #000;
    padding: 20px 20px 10px;
    position: relative;
    border-radius: 12px;
}

/* USERLIST */

.users__block,.employees__block {
    height: calc(100vh - 205px);
    overflow-y: auto;
    margin-top: 30px;
}
.users__thead tr {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.5fr 0.5fr;
    color: #fff;
}

.users__tbody tr {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.5fr 0.5fr;
    color: #fff;
}

/* LIST */
.list{
    margin-top: 50px;
    margin-bottom: 50px;
}
.list__block{
    max-height: calc(100vh - 205px);
    overflow-y: auto;
    margin-top: 30px;
}
.list__thead tr {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.5fr 1fr 0.6fr 0.6fr 0.6fr 0.7fr 0.7fr 0.3fr 0.3fr;
    color: #fff;
}

.list__tbody tr {
    display: grid;
    grid-template-columns: 0.2fr  0.5fr 0.5fr 1fr 0.6fr 0.6fr 0.6fr 0.7fr 0.7fr 0.3fr 0.3fr;
    color: #fff;
}
.list__thead tr th,
.list__tbody tr td{
    display: flex;
    justify-content: center;
}
/* FILTER */

.filter__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.filter__box div{
    display: flex;
    gap: 20px;
}

/* EMPLOYEE */

.employees__thead tr {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.8fr 0.8fr 0.6fr 0.6fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    color: #fff;
}

.employees__tbody tr {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.8fr 0.8fr 0.6fr 0.6fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
    color: #fff;
}

/* FOOTER */

.footer {
    background: #000;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #ffffff;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
