.header__nav {
    position: sticky;
    top: 12px;
    border-radius: 12px;
    background: #000;
    margin-top: 12px;
    padding: 12px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__brand,
.footer__brand {
    color: #ffffff;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__brand span,
.footer__brand span {
    color: #0000ff;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    position: relative;
}

.header__user,
.header__add {
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #D2D2D7;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #000;
    cursor: pointer;
}

.header__add span {
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.header__account {
    position: absolute;
    top: 50px;
    right: 0;
    height: 0;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: .3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__account_active {
    position: absolute;
    top: 110%;
    right: 0px;
    height: 200px;
    width: 300px;
    border-radius: 12px;
    background: #000000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.header__name {
    color: #ffffff;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header__email {
    color: #686870;
    font-family: "Inter";
    margin-top: 10px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.header__signout {
    padding: 6px 16px;
    background: #0000ff;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border-radius: 4px;
}

.footer {
    background: #000;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__text {
    color: #ffffff;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.add {
    display: none;
}

.add__active {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, 0.8);
}

.add__block {
    width: 450px;
    background: #000;
    padding: 20px 20px 10px;
    position: relative;
    border-radius: 12px;
}

.add__title {
    color: #eeeefa;
    font-family: "Inter";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
}

.add__close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #D2D2D7;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #000;
    cursor: pointer;
}

.add__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

.add__form input,
.add__form select,
.add__form textarea {
    padding: 15px;
    border-radius: 4px;
    color: #000;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    resize: none;
}

.add__form textarea {
    height: 60px;
}

.add__box {
    display: flex;
    gap: 16px;
}

.add__box input {
    width: 100%;
}

.add__btn {
    padding: 6px 16px;
    background: #0000ff;
    color: #fff;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    border-radius: 4px;
}


.users {}

.users__block {
    height: calc(100vh - 205px);
    overflow-y: auto;
}

.users__table {
    width: 100%;
    margin-top: 40px;
}

.users__thead tr {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.5fr 0.5fr;
    color: #fff;
}

.users__tbody tr {
    display: grid;
    grid-template-columns: 0.2fr repeat(6, 1fr) 0.5fr 0.5fr;
    color: #fff;
}

.users__thead th {
    border-bottom: 3px solid #D2D2D7;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.users__tbody td {
    border-bottom: 1px solid #D2D2D7;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.users__tbody td::-webkit-scrollbar {
    height: 8px;
}

.users__tbody td::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

.users__tbody td::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.users__edit,
.users__delete {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #D2D2D7;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #000;
    cursor: pointer;
}

.users__edit {
    color: #0000ff;
    border: 1px solid #4f4fda;
}

.users__delete {
    color: #ff0000;
    border: 1px solid #c36161;
}